@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

@keyframes blink-cursor {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink-cursor 1s step-start infinite;
}

@keyframes toast-in {
  from {
    transform: translateY(12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast-enter {
  animation: toast-in 0.2s ease-out;
}
